<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>お問い合わせ編集</title>
</head>

<body>
	<h1>お問い合わせ編集</h1>

	<!-- 更新フォーム -->
	<form th:action="@{/admin/contacts/{id}/update(id=${id})}" th:object="${form}" method="post">
		<table border="1">
			<tr>
				<td>姓</td>
				<td>
					<input type="text" th:field="*{lastName}">
				</td>
			</tr>
			<tr>
				<td>名</td>
				<td>
					<input type="text" th:field="*{firstName}">
				</td>
			</tr>
			<tr>
				<td>メールアドレス</td>
				<td>
					<input type="email" th:field="*{email}">
				</td>
			</tr>
			<tr>
				<td>電話番号</td>
				<td>
					<input type="tel" th:field="*{phone}">
				</td>
			</tr>
			<tr>
				<td>郵便番号</td>
				<td>
					<input type="text" th:field="*{zipCode}">
				</td>
			</tr>
			<tr>
				<td>住所</td>
				<td>
					<input type="text" th:field="*{address}">
				</td>
			</tr>
			<tr>
				<td>建物名</td>
				<td>
					<input type="text" th:field="*{buildingName}">
				</td>
			</tr>
			<tr>
				<td>お問い合わせ種別</td>
				<td>
					<select th:field="*{contactType}">
						<option value="services">サービスに関するお問い合わせ</option>
						<option value="technicalQuestions">技術的なお問い合わせ</option>
						<option value="others">その他</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>お問い合わせ内容</td>
				<td>
					<textarea th:field="*{body}" rows="4" cols="80"></textarea>
				</td>
			</tr>
		</table>
		<input type="submit" value="更新">
	</form>

	<br>

	<form th:action="@{/admin/contacts/{id}/delete(id=${id})}" method="post" onsubmit="return confirm('本当に削除しますか？');">
		<input type="submit" value="削除">
	</form>

	<br>
	<a th:href="@{/admin/contacts/{id}(id=${id})}">キャンセル</a>
</body>

</html>